body {
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #fff;
}

a {
  color: #09f;
}

.link-gray { color: #aaa }

input {
  font-family: inherit;
  background-color: #fff;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #09f;
  box-shadow: 0 0 5px rgba(0,153,255,.5);
}

button {
  font-family: inherit;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  color: #fff;
  background-color: #09f;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

button:focus {
  box-shadow: 0 0 6px rgba(0,153,255,.75);
}

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}


#input {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Search container */
#ina {
  display: table;
  width: 100%;
  position: relative;
  z-index: 1;
}

/* Search toggle options */
#toggles {
  display : inline-block;
  height: 55px;
  vertical-align: top;
}

.toggle:first-child {
  border-radius: 3px 0 0 3px;
  border-left: 1px solid #ccc;
}

.toggle:not(:last-child) {
  border-right: 1px solid #ccc;
}

.toggle {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: inline-block;
  height: 53px;;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  height: 100%;
  padding: 0 10px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #9da5b4;
}

input[type="checkbox"]:checked + label {
  background-color: #09f;
}

#case-toggle[type="checkbox"] + label {
  background-color: #09f;
}

#case-toggle[type="checkbox"]:checked + label {
  background-color: #9da5b4;
}

input[type="checkbox"] + label > img {
  display: block;
  margin: 0  auto;
  padding: 18px 0;
}

/* Search input */
#ina > input {
  height: 55px;
  width: calc(91% - 123px);
  padding: 0 7px;
  border-right: 0;
  border-left: 0;
  box-sizing: border-box;
  color: #666;
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  vertical-align: top;
}

#ina > .button-add-on {
  display: inline-block;
  vertical-align: top;
  width: 9%;
}

/* Search submit button */
#dodat {
  border-radius: 0 3px 3px 0;
  height: 55px;
  width: 100%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAYAAAA6RwvCAAABVUlEQVRYw+2YQRGEMAxFkVAJlYAEJCABCUhAQiWshJWABCRUAg7+XsrMTkibNDBdDvtnek0fSfqToQPQPeE8AuK5IDkBGAC8AESctQEIAHxXKTUIgB7ACr0CAHcrCIAJNm0A+ltALkAc2jWlKoKkcnCKCdCR0i3p4lNmroJwPRGEgC6VhGo2gaTXUQUhwEQryKsmUOaZU40WEOoTk8Eb3iTGYgGhcgaQmcRYL4N0BjHl+RnIeDuI1iFJ8EBivC0gm7bRCsGj1ktKIIGx6pohNjNZ9RYQnxliTgHRM1a/XrH4kIEZhEzstT0mgeTmBpJZzemJjgk65naTO9aAPvOFtavAWMqKdjHyhcxIW9quGRVVO2uh/lTr8fWMqbEw1cvzV/AlXXico2c884IgwZhADMY2STBNQDQwzUAkmKYgAoxvClKAGZqDMDBb89IwRjlI0/f/W+ID3tQLQPib2qQAAAAASUVORK5CYII=);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 17px;
}

#inb {
  box-sizing: border-box;
  width: 95%;
  margin: 0 auto;
  padding: 4px 8px;
  position: relative;
  box-shadow: 0 1px 6px rgba(0,0,0,0.2);
  color: #aaa;
  font-size: 12px;
  line-height: 24px;
  background-color: #fff;
}

#adv {
  box-sizing: border-box;
  overflow: hidden;
  height: 0;
  padding: 0;
  transition: height, padding 0.1s ease-in-out;
}

#adv.is-shown {
  height: auto;
  padding: 10px 0;
}

.octicon-chevron-up, .octicon-chevron-down {
  cursor: pointer;
}

#adv > .field {
  padding: 5px 0;
}

#adv > .field > label {
  display: inline-block;
  color: #999;
  vertical-align: top;
  width: 90px;
}

.field > .field-input {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
}

.field > .field-input.repos {
  width: calc(35% - 60px);
}

.field > .field-input.file-path {
  width: calc(65% - 50px);
}

button.repo-preview {
    border: 1px solid lightgray;
    border-radius: 0;
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 26px;
    position: relative;
    text-align: center;
    width: calc(100% + 2px);
}

button.repo-preview:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,153,255,1);
}

button.repo-preview > span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 10px);
  white-space: nowrap;
}

button.repo-preview > .octicon {
    position: absolute;
    right: 5px;
    top: 5px;
}

.slash-delimiter {
  display: inline-block;
  font-size: 25px;
  padding: 0 5px;
  vertical-align: top;
}

#adv > .field input[type=text] {
  height: 26px;
  line-height: 24px;
  box-sizing: border-box;
  width: calc(100% - 115px);
  padding: 0 10px;
  color: #666;
}

.field-input.file-path > .simple-tip {
  display: none;
  line-height: 15px;
  padding-top: 5px;
  width: calc(100% - 115px);
}

.field-input.file-path > .simple-tip.is-shown {
  display: inherit;
}

button.file-mode {
  border: 1px solid #ccc;
  font-size: 12px;
  height: 26px;
  line-height: 24px;
  margin-left: 5px;
  padding: 0;
  position: relative;
  vertical-align: top;
  width: 110px;
}

button.file-mode:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,153,255,1);
}

button.file-mode > div {
  height: 24px;
  width: 54px;
}

button.file-mode > .regex {
  float: left;
}

button.file-mode > .simple {
  float: right;
}

button.file-mode > .slider {
  background-color: #eee;
  border-radius: 2px;
  color: #333;
  position: absolute;
  margin-left: 54px;
  transition: margin-left 0.1s ease-in-out;
}

button.file-mode > .slider.simple {
  margin-left: 0px;
}

.multiselect {
  /* zeroing border-widths to hide default border */
  border-top-width: 0;
  border-bottom-width: 0;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
  color: #666;
  display: block;
  max-height: 0;
  vertical-align: top;
  visibility: hidden;
  width: calc(100% + 2px);
  transition: max-height 0.15s linear, visibility 0s step-end 0.15s;
}

.multiselect:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0,153,255,1);
}

.multiselect.is-shown {
  border-bottom: 1px solid #ccc;
  max-height: 50em;
  transition: max-height 0.15s linear, visibility 0s step-end;
  visibility: visible;
}

.multiselect > option {
  cursor: pointer;
  font-size: 12px;
  padding: 5px;
}

@media(max-width: 500px) {
  #adv > .field > label {
    display: block;
    width: 100%;
  }

  .field > .field-input {
    width: 100%;
  }

  .field > .field-input.repos {
    width: calc(40% - 15px);
  }

  .field > .field-input.file-path {
    width: calc(60% - 5px);
  }
}

#inb > .ban {
  transition: max-height, opacity 0.1s ease-in-out;
  max-height: 0px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}

#inb > .ban.is-shown {
    max-height: 100px;
    opacity: 1;
}

#inb > .ban > em {
  font-style: normal;
  color: #aaa;
}

#input > .stats {
  width: 95%;
  font-size: 12px;
  padding: 4px 0;
  margin: 0 auto;
  color: #aaa;
}

/* Clearfix .stats */
.stats:before,
.stats:after {
  content: " ";
  display: table;
}
.stats:after {
  clear: both;
}

.stats-left { float: left }
.stats-right { float: right }

#input > .stats .val,
#input > .stats a {
  display: inline-block;
  margin: 5px;
}

#no-result {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
  margin-top: 100px;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
}

#no-result > div {
  font-size: 12px;
}

#no-result.error {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  padding: 10px 0;
  border-radius: 3px;
}

#no-result.error > strong {
  margin-right: 10px;
}

.repo {
  margin-bottom: 100px;
}

.repo > .title {
  color: #666;
  font-size: 24px;
  padding-bottom: 5px;
}

.repo > .title > .name {
  vertical-align: top;
}

.repo > .title > .octicon-repo {
  color: #bbb;
  margin-right: 10px;
}

.files > .moar {
  height: 55px;
  vertical-align: top;
  width: 100%;
}

.file {
  margin: 10px 0 20px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

.file > .title {
  padding: 10px 10px 10px 20px;
  display: block;
  line-height: 30px;
  background-color: #f5f5f5;
}

.title a {
  color: #666;
}

.file-body {
  /* Allow horizontal scrolling in code, similar to github.com */
  overflow: auto;
}

.match {
  border-bottom: 2px solid #f0f0f0;
}

.match:first-child {
  border-top: 1px solid #d8d8d8;
}

.match:last-child {
  border-bottom: 1px solid #d8d8d8;
}

.match > .line {
  white-space: pre;
}

.match > .line > .lnum {
  font-family: 'Source Code Pro', monospace;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  width: 40px;
  text-align: right;
  padding: 3px 5px 3px 0;
  border-right: 1px solid #eee;
  display: inline-block;
  font-size: 14px;
  color: #aaa;
}

.match > .line:last-child > .lnum {
  padding-bottom: 8px;
}

.match > .line:first-child > .lnum {
  padding-top: 8px;
}

.match > .line > .lnum:hover {
  text-decoration: underline;
  background-color: #eee;
}

.match > .line > .lval {
  font-family: 'Source Code Pro', monospace;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 3px 0 3px 5px;
  font-size: 14px;
  white-space: pre;
}

.match > .line > .lval > em {
  font-style: normal;
  font-weight: bold;
  color: #333;
  background-color: rgba(255,255,140,0.5);
}

.table-container table {
  width:100%;
  border-collapse: collapse;
}

.table-container th {
  background-color: #eee;
  padding: 10px;
  text-align: left;
}

.table-container .list td {
  padding:5px;
  border: 1px solid #eee
}

.table-container .list .reason {
  white-space: nowrap;
}

.repo-button {
  margin:0 5px 5px 0;
}

.repo-button.selected {
  background-color: gray;
}

#excluded_container {
  margin-top: 40px;
  margin-bottom: 40px;
}

